$primaryColor: #fff;
$secondaryColor: rgb(0, 255, 255);
$bgColor: #000;
$cta: #5221e6;
$portfolioColor: #8491a0;
$bold: 700;
$x-bold: 800;
$heroLinearGradient: linear-gradient(180deg, #181823, #181823);
