@import "../../styles/variables";

.navbar {
  background-color: transparent;
  display: flex;
  width: 100%;
  padding: 3rem 8rem;
  flex-basis: 10%;
  .menus {
    display: flex;
    margin-left: auto;
    font-size: 1.2rem;
    text-transform: uppercase;
    justify-content: space-between;
    flex-basis: 35%;
    margin-top: auto;
    & .menu {
      &:hover {
        cursor: pointer;
        color: $secondaryColor;
      }
    }
  }

  & .brand {
    font-weight: $x-bold;
    font-size: 2.4rem;
    span {
      color: $secondaryColor;
    }
    &:hover {
      cursor: pointer;
    }
  }
}
